@page
@model ScriptureJournal.Pages.Entries.EditModel

@{
    ViewData["Title"] = "Edit";
}
    <section>
        <h1 class="row mx-auto">Edit</h1>

        <h4 class="row mx-auto">Entry</h4>
    </section>
<hr />
<section class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entry.ID" />
            <div class="form-group">
                <label asp-for="Entry.Title" class="control-label"></label>
                <input asp-for="Entry.Title" class="form-control" />
                <span asp-validation-for="Entry.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Book" class="control-label"></label>
                <input asp-for="Entry.Book" class="form-control" />
                <span asp-validation-for="Entry.Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Chapter" class="control-label"></label>
                <input asp-for="Entry.Chapter" class="form-control" />
                <span asp-validation-for="Entry.Chapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Verse" class="control-label"></label>
                <input asp-for="Entry.Verse" class="form-control" />
                <span asp-validation-for="Entry.Verse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Note" class="control-label"></label>
                <input asp-for="Entry.Note" class="form-control" />
                <span asp-validation-for="Entry.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.DateAdded" class="control-label"></label>
                <input asp-for="Entry.DateAdded" class="form-control" />
                <span asp-validation-for="Entry.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>

<section>
    <a asp-page="./Index" class="row mx-auto">Back to List</a>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
